{% extends 'base.html.twig' %}

{% block document_title %}KPA{% endblock %}
{% block page_title %}Dashboard{% endblock %}
{% block page_subtitle %}For KPA administration{% endblock %}


{% block page_content %}
    <div class="row">
        <div class="col-md-6">
            {# ... infobox widget, solid background ... #}
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'solid' : 'red',
                'icon'  : 'far fa-star',
                'progress' : 40
            } %}

                {% block box_text %}This site is for administrators only{% endblock %}
                {% block progress_description %}The progress description{% endblock %}
            {% endembed %}

        </div>
        <div class="col-md-6">

            {# ... infobox widget, colored icon ... #}
            {% embed '@AdminLTE/Widgets/infobox-widget.html.twig'  with {
                'color' : 'aqua',
                'icon'  : 'fas fa-comments',
            } %}
                {% block box_text %}Login{% endblock %}
                {% block box_number %}999.9{% endblock %}
                {% block progress_description %}Works as well without progress bar{% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {# ... box widget with defaults ... #}
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}

                {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
                {% block box_title %}Visitors{% endblock %}
                {% block box_body %}
                    <div class="callout callout-info">
                        Visitors should go to the KPA website or our Facebook page.
                    </div>
                {% endblock %}
                {% block box_footer %}
                    <div class="pull-right">
                        {{ btn.link_button('Website', 'https://kidpanalley.com', 'floppy') }}
                        {{ btn.link_button('Facebook', 'https://facebook.com/KidPanAlley', 'floppy') }}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
        <div class="col-md-6">
            {# ... box widget with some options ... #}
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' with {
                'boxtype' : 'success',
                'solid' : 0,
                'collapsible' : 'widget-box.collapse'|trans ~ '... ',
                'removable' : 'widget-box.remove'|trans ~ '...',
            } %}

                {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
                {% block box_title %}Adminstration{% endblock %}
                {% block box_body %}
                    <div class="callout callout-warning">
                        <p>
                            This website is for researchers and administrators to manage the schools, songs, concerts and videos
                            created over the past 20 years.
                        </p>
                        <p>
                            If you create an account and log in, you can see most of the data.  Only administrators will be able to update the data.
                        </p>
                    </div>
                {% endblock %}
                {% block box_footer %}
                    <div class="pull-right">
                        {{ btn.link_button('login', path('app_login'), 'fas fa-login', 'success', 'lg') }}
                        {{ btn.link_button('register', path('app_register'), 'fas fa-login', 'primary', 'lg') }}
                    </div>
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
