{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block navigation '' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

        {% for song in songs %}
            <h2>{{ song.title }}</h2>
            {% if song.featuredArtist %}
            Featured Artist: <b>{{ song.featuredArtist }}</b><br />
            {% endif %}
            <h3>Musicians</h3>
            <ul>
                {% for m in song.musicians|split("\n") %}
                    <li>{{ m }}</li>
                {% endfor %}

            </ul>
            <h3>Recording Credits</h3>
                <pre>{{ song.recordingCredits }}</pre>
            <hr />
        {% endfor %}

</div>
{% endblock %}
